@import "tailwindcss";

:root {
  /* --background: #090909; */
  background-color: #051f28;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: #13b3be;
  --color-secondary: #051f28;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.font-outline-2 {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  paint-order: stroke fill;
}
